Для работы нам понадобятся две библиотеки:


*  requests - для удобного формирования HTTP-запросов и получения ответов
*  json - для кодирования и декодирования данных JSON.

In [ ]:
import requests
import json

Будем искать по базе данных OMDB фильм. API_KEY получили при регистрации на сайте.

In [ ]:
title = input('Введите фильм для поиска ')
API_KEY = '56ba1b2f'

Введите фильм для поиска Batman

In [ ]:
response = requests.get(f'http://www.omdbapi.com/?t={title}&apikey={API_KEY}')

In [ ]:
response.raise_for_status()

В модуле json вы найдете load() и loads() для превращения кодированных данных JSON в объекты Python.

In [ ]:
json_data = json.loads(response.text)

In [ ]:
print(json_data)

{'Title': 'Batman', 'Year': '1989', 'Rated': 'PG-13', 'Released': '23 Jun 1989', 'Runtime': '126 min', 'Genre': 'Action, Adventure', 'Director': 'Tim Burton', 'Writer': 'Bob Kane, Sam Hamm, Warren Skaaren', 'Actors': 'Michael Keaton, Jack Nicholson, Kim Basinger', 'Plot': 'The Dark Knight of Gotham City begins his war on crime with his first major enemy being Jack Napier, a criminal who becomes the clownishly homicidal Joker.', 'Language': 'English, French, Spanish', 'Country': 'United States, United Kingdom', 'Awards': 'Won 1 Oscar. 10 wins & 26 nominations total', 'Poster': 'https://m.media-amazon.com/images/M/MV5BMTYwNjAyODIyMF5BMl5BanBnXkFtZTYwNDMwMDk2._V1_SX300.jpg', 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '7.5/10'}, {'Source': 'Rotten Tomatoes', 'Value': '76%'}, {'Source': 'Metacritic', 'Value': '69/100'}], 'Metascore': '69', 'imdbRating': '7.5', 'imdbVotes': '392,450', 'imdbID': 'tt0096895', 'Type': 'movie', 'DVD': '24 Jul 2014', 'BoxOffice': '$251,409,241', 'Production': 'N/A', 'Website': 'N/A', 'Response': 'True'}

In [ ]:
year = json_data['Year']
print(year)

1989